{% extends 'default/external.html.twig' %}

{% block content %}
<div class="centered--content">
    <h1>Mon super raid</h1>
    <p class="important login--text">Vous avez bien été enregistré en tant que bénévole pour ce raid !</p>

    <div class="actions">
        <div class="downloads">
            <p class="login--text">Téléchargez dès maintenant l'application Raidy</p>
            <div class="downloads--links">
                <a href="#">
                    <img src="{{ asset('assets/images/app-store-badge.png') }}" alt="">
                </a>
                <a href="#">
                    <img src="{{ asset('assets/images/google-play-badge.png') }}" alt="">
                </a>
            </div>
            <p class="login--text">ou</p>
            <a href="{{ path('listRaid') }}" class="btn">Accéder à mon compte</a>
        </div>

    </div>
</div>
{% endblock %}



