{% extends 'default/organizer.html.twig' %}
{% block main_attributes %}class="full-content"{% endblock %}
{% block body_class %}editor{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
{% endblock %}

{% block body %}
    <div id="editorContainer" class="editor--container">
        <div class="bar">
            <div class="tab-bar">
                <!--nav class="tab">
                    <button class="tablinks" onclick="openTab(event, 'tracks-pan')">Tracés</button>
                    <button class="tablinks" onclick="openTab(event, 'pois-pan')">Points d'intéret</button>
                </nav-->
                <button class="active accordion">Parcours</button>
                <div class="active panel tabcontent" id="tracks-pan">
                    <button class="btn--action" id="addTrackButton">Ajouter un parcours</button>
                    <ul id="editor--list" class="editor--list checkbox-list">
                        <!-- FILLED IN JS-->
                    </ul>
                </div>
                <button class="active accordion">Points d'intéret</button>
                <div class=" panel tabcontent" id="pois-pan">
                    <ul id="list--pois" class="editor--list list--pois">
                        <!-- FILLED IN JS-->
                    </ul>
                </div>
            </div>
            <div class="tab-bar--actions">
                <!--a href="{{ path('displayRaid', {'id': id}) }}" class="btn btn--action btn--return">Retour</a-->
                <button aria-label="Fermer la barre latérale" class="btn--laterale-bar" id="btn--laterale-bar">
                    <i class="fas fa-caret-right"></i>
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="map--container">
            <div id="map" class="map"></div>

            <div class="fab">
                <button id="addPoiButton" class="btn--add-poi">
                <span class="btn--editor">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.85 122.85">
                       <path d="M122.85,48.06q0,12.15-6.75,19.44T96.93,74.79H74.79v48.06q-12.15,0-19.44-6.75T48.06,96.93V74.79H0Q0,62.64,6.75,55.35t19.17-7.29H48.06V0Q60.21,0,67.5,6.75t7.29,19.17V48.06Z" />
                    </svg>
                </span>
                </button>
                <ul class="fab-buttons">
                    <li class="fab-buttons__item">
                        <a href="#" class="fab-buttons__link" data-tooltip="Ajouter un tracé">
                            <i class="icon-material icon-material_timeline"></i>
                        </a>
                    </li>
                    <li class="fab-buttons__item">
                        <a href="#" class="fab-buttons__link" data-tooltip="Ajouter un point d'intérêt">
                            <i class="icon-material icon-material_gp"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <!-- ADD TRACK  -->
    <div id="add-track-popin" aria-hidden="true" class="modal" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="add-track-title" data-micromodal-close>
                <div class="modal-container">
                    <header class="modal--header ">
                        <h2 id="add-track-title">
                            Ajouter un parcours
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close><i
                                    data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="add-track-content" class="modal--content">
                        <div>
                            <form name="addTrack" id="addTrack_form">
                                <div id="addTrack">
                                    <div class="form--item">
                                        <label for="addTrack_name" class="required">
                                            Nom du parcours <span class="input--required">*</span>
                                        </label>
                                        <input class="form--input-text" type="text" id="addTrack_name"
                                               required="required" maxlength="100">
                                    </div>
                                    <div class="form--item">
                                        <label for="addTrack_color" class="required">Couleur <span class="input--required">*</span></label>
                                        <input class="form--input-text" type="color" id="addTrack_color">
                                    </div>
                                    <div class="actions">
                                        <button type="submit" id="addTrack_submit" class="btn">Ajouter un parcours</button>
                                        <button type="button" class="btn btn--danger" data-micromodal-close>Annuler</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TRACK SETTINGS -->
    <div id="edit-track-popin" aria-hidden="true" class="modal" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="edit-track-title" data-micromodal-close>
                <div class="modal-container">
                    <header class="modal--header ">
                        <h2 id="edit-track-title">
                            Éditer un parcours
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close><i
                                    data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="edit-track-content" class="modal--content">
                        <div>
                            <form name="editTrack" id="editTrack_form">
                                <div id="editTrack">
                                    <div class="form--item  form--input-focused">
                                        <label for="editTrack_name" class="required">
                                            Nom du parcours <span class="input--required">*</span>
                                        </label>
                                        <input class="form--input-text" type="text" id="editTrack_name"
                                               required="required" maxlength="100">
                                    </div>
                                    <div class="form--item  form--input-focused">
                                        <label for="editTrack_color" class="required">
                                            Couleur <span class="input--required">*</span></label>
                                        <input class="form--input-text" type="color" id="editTrack_color">
                                    </div>
                                    <input class="form--input-text" type="hidden" id="editTrack_id" >
                                    <div class="actions">
                                        <button type="submit" id="editTrack_submit" class="btn">Mettre à jour</button>
                                        <button type="button" class="btn btn--danger" id="editTrack_delete">Annuler</button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ADD POI  -->
    <div id="add-poi-popin" aria-hidden="true" class="modal" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="add-poi-title" data-micromodal-close>
                <div class="modal-container">
                    <header class="modal--header ">
                        <h2 id="add-poi-title">
                            Nouveau point d'intérêt
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close><i
                                    data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="add-poi-content" class="modal--content">
                        <div>
                            <form name="addPoi" id="addPoi_form">
                                <div id="addPoi">
                                    <div class="form--item">
                                        <label for="addPoi_name" class="required">
                                            Nom du point d'intérêt <span class="input--required">*</span>
                                        </label>
                                        <input class="form--input-text" type="text" id="addPoi_name"
                                               required="required" maxlength="45">
                                    </div>
                                    <div class="form--item">
                                        <label for="addPoi_nbhelper" class="required">
                                            Nombre de bénévoles requis <span class="input--required">*</span>
                                        </label>
                                        <input class="form--input-text" type="number" id="addPoi_nbhelper" required="required" min="0">
                                    </div>
                                    <div class="form--item form--item-select">
                                        <label for="addPoi_type" class="required">
                                            Type du point d'intérêt <span class="input--required">*</span>
                                        </label>
                                        <select id="addPoi_type" required>
                                            {% for poiType in poiTypes %}
                                            <option value="{{ poiType.id }}">{{ poiType.type }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="actions">
                                        <button type="submit" id="addPoi_submit">Ajouter</button>
                                        <button type="button" id="addPoi_cancel" class="btn--danger" data-micromodal-close>Annuler</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- EDIT POI -->
    <div id="edit-poi-popin" aria-hidden="true" class="modal" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="edit-poi-title" data-micromodal-close>
                <div class="modal-container">
                    <header class="modal--header ">
                        <h2 id="edit-poi-title">
                            Éditer un point d'intéret
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close><i
                                    data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="edit-poi-content" class="modal--content">
                        <div>
                            <form name="editPoi" id="editPoi_form">
                                <div id="editPoi">
                                    <div class="form--item form--input-focused">
                                        <label for="editPoi_name" class="required">
                                            Nom du point d'intérêt <span class="input--required">*</span>
                                        </label>
                                        <input class="form--input-text" type="text" id="editPoi_name"
                                               required="required" maxlength="45">
                                    </div>
                                    <div class="form--item form--input-focused">
                                        <label for="editPoi_nbhelper" class="required">
                                            Nombre de bénévoles requis <span class="input--required">*</span>
                                        </label>
                                        <input class="form--input-text" type="number" id="editPoi_nbhelper" required="required">
                                    </div>
                                    <div class="form--item form--item-select">
                                        <label for="editPoi_type" class="required">
                                            Type du point d'intérêt <span class="input--required">*</span>
                                        </label>
                                        <select id="editPoi_type" required>
                                            <option value="1" selected>Parking</option>
                                            <option value="2" >Point dangereux</option>
                                            <option value="3">Restauration</option>
                                        </select>
                                    </div>
                                    <input class="form--input-text" type="hidden" id="editPoi_id" >
                                    <div class="actions">
                                        <button type="submit" id="editPoi_submit" class="btn">Mettre à jour</button>
                                        <button type="button" class="btn btn--danger" id="editPoi_delete">Annuler</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- [1] -->
    <div id="delete-track" aria-hidden="true" class="modal modal--danger" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="delete-track-title" >
                <div class="modal-container">
                    <header class="modal--header modal--header--danger">
                        <h2 id="delete-track-title">
                            Supprimer un parcours
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close class="btn--danger"><i data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="delete-track-content" class="modal--content">
                        <p>Êtes-vous certains de vouloir supprimer ce parcours ?</p>
                        <p class="text--important">Cette action est irréversible.</p>
                        <div class="modal--actions">
                            <button type="button" class="btn btn--danger" id="btn--delete-track"  data-id="">Supprimer</button>
                            <button data-micromodal-close class="btn btn--cancel">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- [1] -->
    <div id="delete-poi" aria-hidden="true" class="modal modal--danger" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="delete-poi-title" >
                <div class="modal-container">
                    <header class="modal--header modal--header--danger">
                        <h2 id="delete-poi-title">
                            Supprimer un point d'intérêt
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close class="btn--danger"><i data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="delete-poi-content" class="modal--content">
                        <p>Êtes-vous certains de vouloir supprimer ce point d'intérêt ?</p>
                        <p class="text--important">Cette action est irréversible.</p>
                        <div class="modal--actions">
                            <button type="button" class="btn btn--danger" id="btn--delete-poi"  data-id="">Supprimer</button>
                            <button data-micromodal-close class="btn btn--cancel">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <!-- Make sure you put this AFTER Leaflet's CSS -->

    <!--script type="text/javascript" src="{#{ asset('assets/js/lib/leaflet.js') }#}"></script-->
    <!--script-- type="text/javascript" src="{#{ asset('assets/js/lib/Leaflet.Editable.js') }#}"></script-->
    <!--script-- type="text/javascript" src="{#{ asset('assets/js/lib/GpxFactory.js') }#}"></script-->
    <!--script type="text/javascript" src="{#{ asset('assets/js/lib/MapManager.js') }#}"></script-->


    <script>
        var mapManager;
        var raidID;
        document.addEventListener("DOMContentLoaded", function () {
            mapManager = new MapManager();
            raidID = parseInt({{ id }});
            mapManager.initialize();
        });
    </script>

    <!--script type="text/javascript" src="{#{ asset('assets/js/lib/Editor.js') }#}"></script-->
    <!--script type="text/javascript" src="{#{ asset('assets/js/lib/Track.js') }#}"></script-->

{% endblock %}

