{% extends 'default/organizer.html.twig' %}
{% block main_attributes %}class="full-content"{% endblock %}
{% block body_class %}editor{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
{% endblock %}

{% block body %}
    <div class="editor--container">
        <div class="bar">
            <div class="tab-bar">
                <nav class="tab">
                    <button class="tablinks" onclick="openTab(event, 'tracks-pan')">Tracés</button>
                    <button class="tablinks" onclick="openTab(event, 'pois-pan')">Points d'intéret</button>
                </nav>
                <div class="tabcontent" id="tracks-pan">
                    <button class="btn--action" id="addTrackButton">Ajouter un parcours</button>
                    <ul id="editor--list" class="editor--list checkbox-list">
                        <!-- FILLED IN JS-->
                    </ul>
                </div>
                <div class="tabcontent" id="pois-pan">
                    <ul id="list--pois" class="editor--list list--pois">
                        <!-- FILLED IN JS-->
                    </ul>
                </div>
            </div>
            <div class="tab-bar--actions">
                <a class="btn btn--action btn--return">Retour</a>
                <button aria-label="Fermer la barre latérale" class="btn--laterale-bar" id="btn--laterale-bar">x
                </button>
            </div>
        </div>
        <div class="map--container">
            <div id="map" class="map"></div>
            <button id="addPoiButton" class="btn--add-poi">
                <span class="btn--editor">
                    <span>+</span>
                </span>
            </button>
        </div>
    </div>

    <!-- [1] -->
    <div id="add-track-popin" aria-hidden="true" class="modal" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="delete-organizer-title">
                <div class="modal-container">
                    <header class="modal--header ">
                        <h2 id="delete-organizer-title">
                            Ajouter un parcours
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close class="btn--danger"><i
                                    data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="delete-organizer-content" class="modal--content">
                        <div>
                            <form name="addTrack">
                                <div id="addTrack">
                                    <div class="form--item">
                                        <label for="addTrack_name" class="required">Nom du parcours</label>
                                        <input class="form--input-text" type="text" id="addTrack_name"
                                               required="required" >
                                    </div>
                                    <div class="form--item">
                                        <label for="addTrack_color" class="required">Couleur</label> <input
                                                class="form--input-text" type="color" id="addTrack_color"
                                                required="required">
                                    </div>
                                    <button type="button" id="addTrack_submit" >
                                        Ajouter un parcours
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- [1] -->
    <div id="track-setting-popin" aria-hidden="true" class="modal" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="delete-organizer-title">
                <div class="modal-container">
                    <header class="modal--header ">
                        <h2 id="delete-organizer-title">
                            Editer un parcours
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close class="btn--danger"><i
                                    data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="delete-organizer-content" class="modal--content">
                        <div>
                            <form name="TrackSettings">
                                <div id="TrackSettings">
                                    <div class="form--item  form--input-focused">
                                        <label for="TrackSettings_name" class="required">Nom du parcours</label>
                                        <input class="form--input-text" type="text" id="TrackSettings_name"
                                               required="required" >
                                    </div>
                                    <div class="form--item  form--input-focused">
                                        <label for="TrackSettings_color" class="required">Couleur</label> <input
                                                class="form--input-text" type="color" id="TrackSettings_color"
                                                required="required">
                                    </div>
                                    <input class="form--input-text" type="hidden" id="TrackSettings_id" >
                                    <button type="button" class="btn btn--danger" id="TrackSettings_delete" >
                                        Supprimer
                                    </button>
                                    <button type="button" id="TrackSettings_submit" >
                                        mettre à jour
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <!-- Make sure you put this AFTER Leaflet's CSS -->

    <!--script type="text/javascript" src="{#{ asset('assets/js/lib/leaflet.js') }#}"></script-->
    <!--script-- type="text/javascript" src="{#{ asset('assets/js/lib/Leaflet.Editable.js') }#}"></script-->
    <!--script-- type="text/javascript" src="{#{ asset('assets/js/lib/GpxFactory.js') }#}"></script-->
    <!--script type="text/javascript" src="{#{ asset('assets/js/lib/MapManager.js') }#}"></script-->


    <script>
        var mapManager;
        var raidID;
        document.addEventListener("DOMContentLoaded", function () {
            raidID = parseInt({{ id }});
            mapManager = new MapManager();
            mapManager.markerIconUrl = '{{ asset('assets/images/map-marker-main.svg') }}';
            mapManager.initialize();
            mapManager.addPoi(0, "Enssat", [48.729644, -3.462390], '#78e08f');
            mapManager.addPoi(1, "Enssat2", [48.729644, -3.463000], '#f74a45');
            mapManager.addPoi(2, "Enssat3", [48.729644, -3.464000], '#a88f73');

        });
    </script>

    <!--script type="text/javascript" src="{#{ asset('assets/js/lib/Editor.js') }#}"></script-->
    <!--script type="text/javascript" src="{#{ asset('assets/js/lib/Track.js') }#}"></script-->

{% endblock %}

