.idea/
/.web-server-pid
/app/config/parameters.yml
/app/config/config_prod.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/

/web/bundles/

/web/assets/node_modules
/web/assets/css
/web/assets/dist
/web/uploads
/web/build

/web/build/app.js
/web/build/race.js

.php_cs.cache

.DS_STORE*

node_modules/

scripts/
