{% extends 'default/organizer.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('deletePoi', {'id': poi.id, 'trackId': poi.track.id, 'raidId': poi.track.raid.id}) }}">Supprimer le POI</a>

{% endblock %}

{% block stylesheets %}

{% endblock %}
