{% extends 'base.html.twig' %}

{% block body %}
    <h1>Raidy</h1>
    <ul>
        <li><a href="{{ path('listOrganizer') }}">Liste des organisateurs</a></li>
        <li><a href="{{ path('addOrganizer') }}">Ajouter un organisateur</a></li>
        <li><a href="{{ path('listRaid') }}">Liste des raids</a></li>
        <li><a href="{{ path('addRaid') }}">Créer un raid</a></li>
    </ul>
{% endblock %}
