{% extends 'default/organizer.html.twig' %}

{% block body %}

    <div class="main-form">
        <h1>Créer un raid</h1>
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
