{% extends 'default/organizer.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('deleteRaid', {'id': raidId}) }}">Supprimer le raid</a>

{% endblock %}

{% block stylesheets %}

{% endblock %}
