$theme-color: $helper-color;

.helper {
  h1 {
    color: $tertiary-color-2;
  }

  footer,
  header {
    background: $theme-color;
  }

  .btn {
    background: $tertiary-color-2;
  }

  &.login {
    background-color: $theme-color;

    h1 {
      color: $theme-color;
    }

    label {
      color: $text-color;
    }

    input {
      &.btn {
        background-color: $tertiary-color-2;
      }
    }

    .form--input-focused {
      input {
        border-bottom-color: $tertiary-color-2;
      }
    }
  }

  .breadcrumb--list-item {
    color: $tertiary-color-2;

    &:not(:first-child) {
      &::before {
        content: url('../../images/angle-right-helper.svg');
      }
    }

    a {
      color: $theme-color;
    }
  }

  form {
    label {
      color: $text-color;
    }

    .form--input-focused {
      input {
        border-bottom-color: $tertiary-color-2;
      }

      label {
        color: $theme-color;
      }
    }
  }

  .raid {
    &:not(.raid--add) {
      &::before {
        background-color: $secondary-color-1;
      }

      &:hover {
        &::before {
          background: $secondary-color-1-07;
        }
      }
    }
  }

  .profile {
    a {
      color: $theme-color;

      &:hover {
        opacity: .7;
      }
    }
  }
}
