$theme-color: $organizer-color;
$theme-color-secondary: $tertiary-color-1;

.default,
.organizer {
  h1 {
    color: $theme-color-secondary;
  }

  footer,
  header,
  .btn {
    background: $theme-color;
  }

  &.login {
    background-color: $theme-color;
  }
}
