h1,
h2 {
  font-family: 'Fontastique', Sans-Serif;
}

h3 {
  font-family: 'Proxima Nova';
  font-size: 1.1rem;
  font-weight: 700;
}

h4 {
  font-family: 'Proxima Nova', Sans-Serif;
  font-size: 1rem;
}

