{% extends 'default/live.html.twig' %}

{% block body %}
    <div id="app">
        <social-media-share url="{{ meta['url'] }}"></social-media-share>
    </div>
    <ol>
        {% for tweet in tweets %}
            <li>{{ tweet.text }}</li>
        {% endfor %}
    </ol>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
