{% extends 'admin/admin.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb--list">
        <li class="breadcrumb--list-item"><a href="{{ path('admin') }}">Administration</a></li>
    </ol>
{% endblock %}

{% block body %}
    <h1>Administration</h1>
    <ul>
        <li>
            <a href="{{ path('listOrganizer') }}">Liste des organisateurs</a>
        </li>
        <li>
            <a href="{{ path('listSportType') }}">Gérer les sports</a>
        </li>
    </ul>

    <div class="text-center" id="app">
        <h3>My Symfony 4 sample project</h3>

        <div class="jumbotron text-center">
            <example></example>
            <example></example>
            <example></example>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
