{% extends 'admin/admin.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('deleteOrganizer', {'id': userId}) }}">Supprimer l'organisateur</a>

{% endblock %}

{% block stylesheets %}

{% endblock %}
