{% extends 'admin/admin.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

{% block body %}

    <div class="main-form">
        <h1>Modifier le profil</h1>
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <a href="{{ path('deleteOrganizer', {'id': userId}) }}" class="btn btn--danger btn--full-width">Supprimer l'organisateur</a>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
