{% extends 'base.html.twig' %}

{% set base_class = 'live' %}

{% block title %}Mentions légales {% endblock %}

{% block body %}
    <h1>Mentions légales du site</h1>
    <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs du site raidy les présentes mentions légales.</p>
    <p>Le site Raidy est accessible à l'adresse suivante : <a href="{{ path('homepage') }}">{{ app.request.getSchemeAndHttpHost() }}</a> (ci-après "le Site"). L'accès et l'utilisation du Site sont soumis aux présentes " Mentions légales" détaillées ci-après ainsi qu'aux lois et/ou règlements applicables.</p>
    <p>La connexion, l'utilisation et l'accès à ce Site impliquent l'acceptation intégrale et sans réserve de l'internaute de toutes les dispositions des présentes Mentions Légales.</p>

    <h2>Article 1 - Informations légales</h2>
    <p>En vertu de l'Article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé dans cet article l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>

    <h3>Éditeur du site</h3>
    <p>Le site Raidy est édité par : <strong>G.L. Studio</strong> ayant son siège social à l'adresse suivante : 6 rue de Kerampont, CS 80518, 22305 Lannion, et immatriculée au numéro suivant : 193 509 361 00013.</p>
    <p>Téléphone : <a href="tel:+33296469000">+33 (0)2 96 46 90 00</a></p>
    <p>Adresse e-mail : <a href="mailto:moa@enssat.fr">moa@enssat.fr</a></p>
    <p>ci après "l'Éditeur".</p>

    <h3>Directeur de publication</h3>
    <p>Le Directeur de publication est : <strong>Aurélien Moreau</strong>.</p>
    <p>Adresse e-mail de contact : <a href="mailto:aurelien.moreau@enssat.fr">aurelien.moreau@enssat.fr</a></p>
    <p>ci après "le Directeur de publication".</p>

    <h3>Hébergeur du site</h3>
    <p>Le site Raidy est hébergé par : <strong>École Nationale Supérieure des Sciences Appliquées et de Technologie</strong> ont le siège est situé à l'adresse suivante : 6, rue de Kerampont - CS 80518 22305 Lannion Cedex.</p>
    <p>Téléphone : <a href="tel:+33296469000">+33 (0)2 96 46 90 00</a></p>
    <p>Adresse e-mail : <a href="mailto:contact@enssat.fr">contact@enssat.fr</a></p>
    <p>ci après "l'Hébergeur".</p>

    <h3>Utilisateurs</h3>
    <p>Sont considérés comme utilisateurs tous les internautes qui naviguent, lisent, visionnent et utilisent le site Raidy.</p>
    <p>ci après les "Utilisateurs".</p>

    <h2>Article 2 - Confidentialité</h2>
    <h3>Données collectées et traitées</h3>
    <p>Conformément aux dispositions de l'article 5 du Règlement européen 2016/679, la collecte et le traitement des données des utilisateurs du site respectent les principes suivants :</p>
    <ul>
        <li>Licéité, loyauté et transparence : les données ne peuvent être collectées et traitées qu'avec le consentement de l'utilisateur propriétaire des données. A chaque fois que des données à caractère personnel seront collectées, il sera indiqué à l'utilisateur que ses données sont collectées, et pour quelles raisons ses données sont collectées ;</li>
        <li>Finalités limitées : la collecte et le traitement des données sont exécutés pour répondre à un ou plusieurs objectifs déterminés dans les présentes mentions légales ;</li>
        <li>Minimisation de la collecte et du traitement des données : seules les données nécessaires à la bonne exécution des objectifs poursuivis par le site sont collectées ;</li>
        <li>Conservation des données réduites dans le temps : les données sont conservées pour une durée limitée, dont l'utilisateur est informé. Si la durée de conservation ne peut être communiquée à l'utilisateur ;</li>
        <li>Intégrité et confidentialité des données collectées et traitées : le responsable du traitement des données s'engage à garantir l'intégrité et la confidentialité des données collectées.</li>
    </ul>

    <p>Afin d'être licite, et ce conformément aux exigences de l'article 6 du règlement européen 2016/679, la collecte et le traitement des données à caractère personnel ne pourront intervenir que s'ils respectent au moins l'une des conditions ci-après énumérées :</p>
    <ul>
        <li>L'utilisateur a expressément consenti au traitement ;</li>
        <li>Le traitement est nécessaire à la bonne exécution d'un contrat ? ;</li>
        <li>Le traitement répond à une obligation légale ? ;</li>
        <li>Le traitement s'explique par une nécessité liée à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique ? ;</li>
        <li>Le traitement peut s'expliquer par une nécessité liée à l'exécution d'une mission d'intérêt public ou qui relève de l'exercice de l'autorité publique ? ;</li>
        <li>Le traitement et la collecte des données à caractère personnel sont nécessaires aux fins des intérêts légitimes et privés poursuivis par le responsable du traitement ou par un tiers.</li>
    </ul>

    <p>Les données à caractère personnel collectées sur le site Raidy sont les suivantes :</p>
    <ul>
        <li>Prénom</li>
        <li>Nom</li>
        <li>Adresse e-mail</li>
        <li>Téléphone</li>
        <li>Numéro de téléphone</li>
    </ul>

    <p>Ces données sont collectées lorsque l'Utilisateur effectue l'une des opérations suivantes sur le site :</p>
    <ul>
        <li>Lorsque l'utilisateur s'inscrit sur le site.</li>
        <li>Lorsque l'utilisateur s'inscrit à un raid.</li>
        <li>Lorsque l'utilisateur s'inscrit en tant que bénévole.</li>
    </ul>

    <p>Le responsable du traitement conservera dans ses systèmes informatiques du site et dans des conditions raisonnables de sécurité l'ensemble des données collectées pour une durée de : 5 ans.</p>
    <p>La collecte et le traitement des données répondent aux finalités suivantes : Les données des utilisateurs sont gardées pour pouvoir les contacter directement en cas de problème lors d'un évènement. Ces données servent également pour l'organisation des événement futurs pour contacter les utilisateurs des événements précédents.</p>

    <h3>Hébergement des données</h3>
    <p>Tel que mentionné plus haut, le site raidy est hébergé par : ÉCOLE NATIONALE SUPÉRIEURE DES SCIENCES APPLIQUÉES ET DE TECHNOLOGIE, dont le siège est situé à l'adresse ci-après : 6, rue de Kerampont - CS 80518 22305 Lannion Cedex</p>
    <p>L'hébergeur peut être contacté au numéro de téléphone suivant : <a href="tel:+33296469000">+33 (0)2 96 46 90 00</a></p>
    <p>Les données collectées et traitées par le site sont exclusivement hébergées et traitées en France.</p>

    <h3>Le responsable du traitement des données</h3>
    <p>Le responsable du traitement des données à caractère personnel est : Aurélien Moreau.</p>
    <p>Le responsable peut être contacter par mail à l'adresse suivante : <a href="mailto:aurelien.moreau@enssat.fr">aurelien.moreau@enssat.fr</a></p>

    <h3>Données personnelles des personnes mineures</h3>
    <p>Conformément aux dispositions de l'article 8 du règlement européen 2016/679 et à la loi Informatique et Libertés, seuls les mineurs âgés de 15 ans ou plus peuvent consentir au traitement de leurs données personnelles.</p>
    <p>Si l'utilisateur est un mineur de moins de 15 ans, l'accord d'un représentant légal sera requis afin que des données à caractère personnel puissent être collectées et traitées.</p>

    <h3>Droits de l'utilisateur et procédures de mise en œuvre des droits de l'utilisateur</h3>
    <p>Conformément à la réglementation concernant le traitement des données à caractère personnel, l'Utilisateur possède les droits ci-après énumérés.</p>
    <p>Afin que le responsable du traitement des données fasse droit à sa demande, l'utilisateur est tenu de lui communiquer : ses prénom et nom ainsi que son adresse e-mail, et si cela est pertinent, son numéro de compte ou d'espace personnel ou d'abonné.</p>
    <p>Le responsable du traitement des données est tenu de répondre à l'Utilisateur dans un délai de 30 (trente) jours maximum.</p>

    <h4>Droit d'accès, de rectification et droit à l'oubli</h4>
    <p>
        L'utilisateur peut prendre connaissance, mettre à jour, modifier ou demander la suppression des données le concernant, en respectant la procédure ci-après énoncée :
        <span class="text--medium">
            L'utilisateur peut modifier facilement ses données via une interface disponible sur le site. Les données ainsi modifiées ou supprimées ne sont pas conservées.
        </span>
    </p>
    <p>
        S'il en possède un, l'utilisateur a le droit de demander la suppression de son espace personnel en suivant la procédure suivante :
        <span class="text--medium">
            L'utilisateur peut demander la suppression de son compte en contactant l'administrateur du site dont les coordonnées sont disponibles sur le site.
        </span>
    </p>

    <h4>Droit à la portabilité des données</h4>
    <p>
        L'Utilisateur a le droit de demander la portabilité de ses données personnelles, détenues par le site, vers un autre site, en se conformant à la procédure ci-après :
        <span class="text--medium">
            L'utilisateur peut demander la portabilité de ses données en contactant l'administrateur du site dont les coordonnées sont disponibles sur le site.
        </span>
    </p>

    <h4>Droit à la limitation et à l'opposition du traitement des données</h4>
    <p>Enfin, l'Utilisateur a le droit de demander la limitation ou de s'opposer au traitement de ses données par le site, sans que le site ne puisse refuser, sauf à démontrer l'existence de motifs légitimes et impérieux, pouvant prévaloir sur les intérêts et les droits et libertés de l'Utilisateur.</p>

    <h4>Droit de déterminer le sort des données après la mort</h4>
    <p>Il est rappelé à l'utilisateur qu'il peut organiser quel doit être le devenir de ses données collectées et traitées s'il décède, conformément à la loi n°2016-1321 du 7 octobre 2016.</p>

    <h4>Droit de saisir l'autorité de contrôle compétente</h4>
    <p>Dans le cas où le responsable du traitement des données décide de ne pas répondre à la demande de l'Utilisateur, et que l'Utilisateur souhaite contester cette décision, il est en droit de saisir la CNIL (Commission Nationale de l'Informatique et des Libertés, <a href="https://www.cnil.fr" target="_blank">https://www.cnil.fr</a>) ou tout juge compétent.</p>

    <h3>Obligations du responsable du traitement des données</h3>
    <p>Le responsable du traitement s'engage à protéger les données à caractère personnel collectées, à ne pas les transmettre à des tiers sans que l'utilisateur n'en ait été informé et à respecter les finalités pour lesquelles ces données ont été collectées.</p>
    <p>Le site dispose d'un certificat SSL afin de garantir que les informations et le transfert des données transitant par le site sont sécurisés.</p>
    <p>De plus, le responsable du traitement des données s'engage à notifier l'utilisateur en cas de rectification ou de suppression des données, à moins que cela n'entraîne pour lui des formalités, coûts et démarches disproportionnés.</p>
    <p>Dans le cas où l'intégrité, la confidentialité ou la sécurité des données à caractère personnel de l'Utilisateur est compromise, le responsable du traitement s'engage à informer l'Utilisateur par tout moyen.</p>

    <h3>Cookies</h3>
    <p>Le site a éventuellement recours aux techniques de "cookies" lui permettant de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d'améliorer le service pour le confort de l'utilisateur. Pour l'utilisation de fichiers "cookies" impliquant la sauvegarde et l'analyse de données à caractère personnel, le consentement de l'utilisateur est nécessairement demandé.</p>
    <p>Ce consentement de l'Utilisateur est considéré comme valide pour une durée de 13 (treize) mois maximum. A l'issue de cette période, le site demandera à nouveau l'autorisation de l'utilisateur pour 5 enregistrer des fichiers "cookies" sur son disque dur.</p>

    <h4>Opposition de l'utilisateur à l'utilisation de fichiers "cookies" par le site</h4>
    <p>Il est porté à la connaissance de l'Utilisateur qu'il peut s'opposer à l'enregistrement de ces "cookies" en configurant son logiciel de navigation.</p>
    <p>Dans le cas où l'utilisateur décide de désactiver les fichiers "cookies", il pourra poursuivre sa navigation sur le site. Toutefois, tout dysfonctionnement du site provoqué par cette manipulation ne pourrait être considéré comme étant du fait de l'Editeur du site.</p>

    <h4> Description des fichiers "cookies" utilisés par le site</h4>
    <p>L'Editeur du site attire l'attention de l'Utilisateur sur le fait que les cookies suivants sont utilisés lors de sa navigation :</p>

    <h2>Article 3 - Accessibilité</h2>
    <p>Le Site est par principe accessible aux Utilisateurs 24/24h et 7/7j, sauf interruption, programmée ou non, pour des besoins de maintenance ou en cas de force majeure.</p>
    <p>En cas d'impossibilité d'accès au Site, celui-ci s'engage à faire son maximum afin d'en rétablir l'accès. Le Site ne saurait être tenu pour responsable de tout dommage, quelle qu'en soit la nature, résultant de son indisponibilité.</p>

    <h2>Article 4 - Loi applicable et juridiction</h2>
    <p>Les présentes Mentions Légales sont régies par la loi française. En cas de différend et à défaut d'accord amiable, le litige sera porté devant les tribunaux français conformément aux règles de compétence en vigueur.</p>

    <h2>Article 5 - Contact</h2>
    <p>Pour tout signalement de contenus ou d'activités illicites, l'Utilisateur peut contacter l'Éditeur à l'adresse suivante : <a href="mailto:moa@enssat.fr">moa@enssat.fr</a>, ou par courrier recommandé avec accusé de réception adressé à l'Éditeur aux coordonnées précisées dans les présentes mentions légales.</p>
    <p class="text--important text--medium">Le site Raidy vous souhaite une excellente navigation !</p>
{% endblock %}
