.map--container {
  flex-grow: 1;
  position: relative;
}

.map {
  min-height: 100%;
  min-width: 100%;
}

/*---------------*/
/* LEFT TAB BAR  */
/* --------------*/

.tab {
  background-color: $main-color;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;

  // Style the buttons that are used to open the tab content.
  button {
    background-color: inherit;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 14px 16px;
    transition: .3s;
  }
}

// Style the tab content.
.tabcontent {
  border-top: 0;
  display: none;

  .btn--action {
    display: block;
    margin: 1rem auto;
  }
}

.editor--list {
  list-style-type: none;
  padding: 0;

  li {
    padding: 8px 16px;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.btn--editor {
  background-image: url('../../images/map-marker-main-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative;

  span {
    color: $tertiary-color-1;
    display: block;
    font-family: 'Fontastique', 'SansSerif';
    position: relative;
    top: -.75rem;
    transition: all .5s ease;
  }
}

.btn--add-poi {
  background-color: $tertiary-color-1;
  font-size: 3rem;
  border-radius: 3rem ;
  bottom: 0;
  right: 0;
  margin: 2.5rem;
  overflow: hidden;
  padding: 1rem;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  width: 5rem;
  height: 5rem;
  z-index: 1000;

  transition-duration: .5s;
  transition-property: background-color, transform;
  transition-timing-function: ease;

  &.add--poi {
    background-color: $secondary-color-2;

    .btn--editor {
      span {
        color: $secondary-color-2;
       // transform-origin: 0 0;
        transform: rotate(50deg) translateX(0.25rem) translateY(-0.10rem) ;
      }
    }
  }
}


.editor--container {
  //border-top: 1px solid $white;
  display: flex;
  width: 100%;
}


.tab-bar {
  flex-grow: 1;
  overflow: scroll;
  overflow-x: hidden;
}

.tablinks {
  font-weight: 500;
  position: relative;

  &.active {
    font-weight: 700;

    &::after {
      background: $white;
      bottom: 0;
      content: '';
      height: 1rem;
      left: 50%;
      position: absolute;
      transform: translateY(50%) translateX(-50%) rotate(45deg);
      width: 1rem;
    }
  }
}

.bar {
  display: flex;
  flex-direction: column;
  position: relative;
  //width : 20%;

  &::after {
    background-color: $tertiary-color-1;
    content: '';
    display: block;
    position: absolute;
    right: 100%;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    z-index: 1000000;
  }
}

.btn--laterale-bar {
  background-color: $tertiary-color-1;
  border-radius: 50%;
  font-family: 'Fontastique', 'SansSerif';
  font-size: 2rem;
  height: 3rem;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateX(50%) translateY(-50%);
  width: 3rem;
  z-index: 1000;
}

.tab-bar--actions {
  margin: auto;
  padding-bottom: 1rem;
}

.list--pois {
  font-size: .9rem;

  .list--pois-items {
    &::before {
     // background: $main-color; // @TODO : How to set background color ?
      border-radius: 50%;
      //border: 2px solid #0f5e54;
      content: '';
      display: inline-block;
      height: 1.25rem;
      width: 1.25rem;
      margin-right: 1rem;
      vertical-align: bottom;
    }
  }
}

.btn--return {
  display: block;
}

.bar--invisible {
  position: absolute;

  .btn--laterale-bar {
    left: -100%;
    position: fixed;
    top: 50%;
    transform: translateY(1.5rem);
  }
}

.checkbox-item {
  input {
    display: none;

    &:checked {

      + .checkmark {
        background-color: $tertiary-color-1; // Set color by js.

        .fa-check {
          opacity: 1;
        }
      }
    }
  }

  .checkmark {
    border: 2px solid $tertiary-color-1; // Set color by js.
    border-radius: 50%;
    display: inline-block;
    height: .5rem;
    margin-right: .5rem;
    padding: .2rem;
    vertical-align: middle;
    width: .5rem;
  }

  .fa-check {
    color: $white;
    display: block;
    font-size: .5rem;
    opacity: 0;
  }

  .checkbox-item--label {
    &:hover {
      cursor: pointer;
    }
  }
}

.checkbox-list {
  margin-top: 1rem;
}

.track--edit {
  background: $grey-light;
}

.btn--track--edit{
  background: none;
  color: $tertiary-color-1;
  display: inline-block;
  font-size: .65rem;
  margin-left: .25rem;

  &:hover {
    opacity: .5;
  }
}
.btn--track--settings, .btn--poi--settings{
  background: none;
  color: $tertiary-color-1;
  display: inline-block;
  font-size: .95rem;
  margin-left: .25rem;

  &:hover {
    opacity: .5;
  }
}


// LEAF LET POP-UP
.leaflet-popup-content-wrapper{
  text-align: center;
  border-radius: 12px;
  padding: 0;
  header{
      display : block;
      font-size : 0.75rem;
  }
  h4{
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.leaflet-popup-content{
  margin: 0;
  p{
    margin : 0;
  }
}

