.map--container {
  width: 80%;
  position: relative;
  transition: width 1s linear;
}

.map {
  min-height: 100%;
  min-width: 100%;
}
.map-tooltip {
  display: none;
  position: absolute;
  background: #666;
  color: white;
  opacity: 0.5;
  padding: 10px;
  border: 1px dashed #999;
  font-family: sans-serif;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  z-index: 1000;
}

.poi-marker{
  width: 2rem;
  height: 2rem;
  display: block;
  position: relative;
  border-radius: 3rem 3rem 0;
  transform: translateX(-1rem) translateY(-2rem) rotate(45deg);
}

//ACCORDION
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: $tertiary-color-1;
  //border-bottom: 2px solid $main-color;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: $tertiary-color-1;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px 0 0;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  font-family: "Font Awesome 5 Free"; font-weight: 900;
  content: "\f107";
  font-size: 1rem;
  color: #fff;
  float: right;
  margin-left: 5px;

}

button.active:after {
  content: "\f106"; /* Unicode character for "minus" sign (-) */
}

// LEFT TAB BAR.
/*
.tab {
  background-color: $main-color;
  display: flex;
  flex-direction: row;
  height: 3rem;
  justify-content: flex-start;
  //  overflow-x: visible;
  position: absolute;
  width: 100%;

  // Style the buttons that are used to open the tab content.
  button {
    background-color: inherit;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 14px 16px;
    transition: .3s;
  }
}
*/
// Style the tab content.
.tabcontent {
//  border-top: 0;
 // display: none;
 // padding-top: 3rem;
 // overflow-x: visible;

  .btn--action {
    display: block;
    margin: 1rem auto;
  }
}

.track--text{
  display: flex;
  flex-direction: column;
  width: 90%;
}
.checkbox-item--label > div > span:nth-child(1){
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.editor--list {
  list-style-type: none;
  padding: 0;

  li {
    width: 100%;
    display : flex;
    flex-direction: row;
    padding: 8px 16px;
    //position: relative;
    justify-content: space-between;
    align-items: center;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.btn--editor {
  background-image: url('../../images/map-marker-main-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative;

  span {
    color: $tertiary-color-1;
    display: block;
    font-family: 'Fontastique', 'SansSerif';
    position: relative;
    top: -.75rem;
    transition: all .5s ease; // sass-lint:disable-line no-transition-all
  }
}

.btn--add-poi {
  background-color: $tertiary-color-1;
  border-radius: 3rem ;
  bottom: 0;
  font-size: 3rem;
  height: 5rem;
  margin: 2.5rem;
  overflow: hidden;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-align: center;
  transition-duration: .5s;
  transition-property: background-color;
  transition-timing-function: ease;
  vertical-align: middle;
  width: 5rem;
  z-index: 1000;
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;

  svg {
    fill: $tertiary-color-1;
    transform: translateY(-.5rem);
    transition-duration: .5s;
    transition-property: fill, transform;
    transition-timing-function: ease;
    width: 50%;
  }

  &.add--poi {
    background-color: $secondary-color-2;

    .btn--editor {
      svg {
        fill: $secondary-color-2;
        transform: translateY(-.5rem) rotate(50deg);
      }
    }
  }
}

.editor--container {

  ::-webkit-scrollbar {
    width: 0.75rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #CCCCCC;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #DDDDDD;
  }

  display: flex;
  //justify-content: flex-end;
  justify-content: space-between;
  width: 100%;
}

.tab-bar {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x : visible;
}

.tablinks {
  font-weight: 500;
  position: relative;

  &.active {
    font-weight: 700;

    &::after {
      background: $white;
      bottom: 0;
      content: '';
      height: 1rem;
      left: 50%;
      position: absolute;
      transform: translateY(50%) translateX(-50%) rotate(45deg);
      width: 1rem;
    }
  }
}

.bar {
  display: flex;
  flex-direction: column;
  width: 20%;
  position: relative;
  left : 0;
  transition : width 1s ease;
  z-index: 1000;

  &::after {
    background-color: $tertiary-color-1;
    content: '';
    display: block;
    height: 1rem;
    position: absolute;
    right: 100%;
    vertical-align: middle;
    width: 1rem;
    z-index: 1000000;
  }
}

.btn--laterale-bar {
  background-color: $tertiary-color-1;
  border-radius: 0 10rem 10rem 0;
  font-family: 'Fontastique', 'SansSerif';
  font-size: 2rem;
  height: 3rem;
  margin: auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(100%);
  width: 1.5rem;
  z-index: 1000;

  i {
    position: absolute;
    right: 15%;
    top: 20%;
    transform: translateX(-75%);
  }
}

.tab-bar--actions {
  margin: auto;
  //padding-bottom: 1rem;
}

.list--pois {
  font-size: .9rem;

  .list--pois-items {
    &::before {
      // background: $main-color; // @TODO : How to set background color ?
      border-radius: 50%;
      content: '';
      display: inline-block;
      height: 1.25rem;
      margin-right: 1rem;
      vertical-align: middle;
      width: 1.25rem;
    }
  }
}

.btn--return {
  display: block;
}

.bar--invisible {
  /**position: absolute;
  left : -100%;**/
  position: relative;
  width: 0;
  transition : width 1s ease;

  & + .map--container{
    width: 100%;
    transition: width .5s linear;
  }
  .btn--laterale-bar {
    left: 0;
    margin-left: 0;
    position: fixed;
    top: 50%;
    transform: translateX(0%) translateY(100%);
  }
}

.btn--editor-ico {
  vertical-align: middle;
}

.checkbox-item {
  display: flex;
  flex-direction: row;
  input {
    display: none;

    &:checked {
      + .checkmark { // sass-lint:disable-line nesting-depth
        background-color: $tertiary-color-1; // Set color by js.

        .fa-check { // sass-lint:disable-line nesting-depth
          opacity: 1;
        }
      }
    }
  }

  .checkmark {
    border: 2px solid $tertiary-color-1; // Set color by js.
    border-radius: 50%;
    display: inline-block;
    height: .5rem;
    margin-right: .5rem;
    padding: .2rem;
    vertical-align: middle;
    width: .5rem;
  }

  .fa-check {
    color: $white;
    display: block;
    font-size: .5rem;
    opacity: 0;
  }

  .checkbox-item--label {
    display: flex;
    flex-direction: row;
    &:hover {
      cursor: pointer;
    }
  }
}

.checkbox-list {
  margin-top: 1rem;
}

.track--edit {
  background: $grey-light;
}

/* Dropdown Button */
.dropbtn {
//  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  cursor: pointer;
  left : 100%;
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 12rem ;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99999999999;
}

/* Links inside the dropdown */
.dropdown-content a {
 // color: black;
  padding: 1.2rem 1.5rem;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f4f4f4}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.btn--track--more {
  background: none;
  color: $tertiary-color-1;
  display: inline-block;
  font-size: .65rem;
  margin-left: .25rem;

  &:hover {
    opacity: .5;
  }
}
.btn--track--more{
  font-size: 1rem;
  justify-self: flex-end;
}
.btn--poi--settings {
  background: none;
  color: $tertiary-color-1;
  display: inline-block;
  font-size: .95rem;
  margin-left: .25rem;

  &:hover {
    opacity: .5;
  }
}

.actions {
  display: flex;
  justify-content: space-between;

  button {
    flex-grow: 1;

    &:not(:first-child) {
      margin-left: .5rem;
    }
  }
}


// LEAF LET POP-UP
.leaflet-popup-content-wrapper {
  border-radius: 12px;
  padding: 0;
  text-align: center;

  header {
    display: block;
    font-size: .75rem;
  }

  h4 {
    margin-block-end: 0;
    margin-block-start: 0;
  }
}

.leaflet-popup-content {
  margin: 0;
  padding-bottom: 1rem;

  p {
    margin: 0;
  }
}

/* TOGGLE */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 2.4rem;
  height: 1.4rem;
  margin-left: 0.5rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 0.16rem;
  bottom: 0.16rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#map > div.leaflet-control-container > div.leaflet-top.leaflet-left > div > a.leaflet-control-zoom-in, #map > div.leaflet-control-container > div.leaflet-top.leaflet-left > div > a.leaflet-control-zoom-out{
  color : $tertiary-color-1;
}

input:checked + .slider {
  background-color: $tertiary-color-1;
}

input:focus + .slider {
  box-shadow: 0 0 0.08rem $tertiary-color-1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}

.switch-label{
  text-align: center;
  padding: 0;
  display: inline;
  font-weight: bold;
  font-family: 'Proxima Nova', 'SansSerif';
  font-size: .75rem;
  color : $tertiary-color-1;
}

.map-controller-container{
  border-radius: 4px;
  background-color: #FFFFFF;
  padding: 0.4rem;
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
}

/* Rounded sliders */
.slider.round {
  border-radius: 1.4rem;
}

.slider.round:before {
  border-radius: 50%;
}


// alternative

.slider-alternative {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-alternative:before {
  position: absolute;
  font-family: Fontastique;
  content: "X";
  height: 0.5rem;
  width: 0.5rem;
  right: 0.25rem;
  top: 0.25rem;
 // background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider-alternative {
  background-color: $tertiary-color-1;
}

input:focus + .slider-alternative {
  box-shadow: 0 0 0.08rem $tertiary-color-1;
}

/* Rounded sliders */
.slider-alternative.round {
  border-radius: 1.4rem;
}

.slider-alternative.round:before {
  border-radius: 50%;
}


.switch-alternative {
  position: relative;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
}

/* Hide default HTML checkbox */
.switch-alternative input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* FAB */
/*

.fab {
  position: fixed;
  width: 56px;
  left: 50%;
  bottom: 15px;
  margin-left: -28px;
}

.fab:hover .fab-buttons {
  opacity: 1;
  visibility: visible;
}

.fab:hover .fab-buttons__link {
  transform: scaleY(1) scaleX(1) translateY(-16px) translateX(0px);
}

.fab-action-button:hover + .fab-buttons .fab-buttons__link:before {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: right center 0;
  transition-delay: 0.3s;
}

.fab-action-button {
  position: absolute;
  bottom: 0;
  display: block;
  width: 56px;
  height: 56px;
  background-color: #29B6F6;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.fab-buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.fab-action-button__icon {
  display: inline-block;
  width: 56px;
  height: 56px;
  background: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmZmZmIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0xOCAxNi4wOGMtLjc2IDAtMS40NC4zLTEuOTYuNzdMOC45MSAxMi43Yy4wNS0uMjMuMDktLjQ2LjA5LS43cy0uMDQtLjQ3LS4wOS0uN2w3LjA1LTQuMTFjLjU0LjUgMS4yNS44MSAyLjA0LjgxIDEuNjYgMCAzLTEuMzQgMy0zcy0xLjM0LTMtMy0zLTMgMS4zNC0zIDNjMCAuMjQuMDQuNDcuMDkuN0w4LjA0IDkuODFDNy41IDkuMzEgNi43OSA5IDYgOWMtMS42NiAwLTMgMS4zNC0zIDNzMS4zNCAzIDMgM2MuNzkgMCAxLjUtLjMxIDIuMDQtLjgxbDcuMTIgNC4xNmMtLjA1LjIxLS4wOC40My0uMDguNjUgMCAxLjYxIDEuMzEgMi45MiAyLjkyIDIuOTIgMS42MSAwIDIuOTItMS4zMSAyLjkyLTIuOTJzLTEuMzEtMi45Mi0yLjkyLTIuOTJ6Ii8+Cjwvc3ZnPg==") center no-repeat;
}

.fab-buttons__item {
  display: block;
  text-align: center;
  margin: 12px 0;
}

.fab-buttons__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transform: scaleY(0.5) scaleX(0.5) translateY(0px) translateX(0px);
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

[data-tooltip]:before {
  top: 50%;
  margin-top: -11px;
  font-weight: 600;
  border-radius: 2px;
  background: #585858;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 12px;
  text-decoration: none;
  visibility: hidden;
  opacity: 0;
  padding: 4px 7px;
  margin-right: 12px;
  position: absolute;
  transform: scale(0);
  right: 100%;
  white-space: nowrap;
  transform-origin: top right;
  transition: all .3s cubic-bezier(.25, .8, .25, 1);
}

[data-tooltip]:hover:before {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: right center 0;
}

.icon-material {
  display: inline-block;
  width: 40px;
  height: 40px;
}
*/
