@import 'editor';

body,
ul {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  margin: 2rem 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;

  &--reverse-small {
    flex-direction: column-reverse;
  }

  .content--part {
    box-sizing: border-box;
    margin-top: 3rem;
    width: 100%;
  }

  .content-important {
    background: $grey-light;
    padding: .5rem 1rem;

    &--part {
      &:not(:first-child) {
        margin-top: 2rem;
      }
    }
  }

  @media screen and (min-width: $breakpoint-large) {
    display: flex;
    flex-direction: row;

    .content--part {
      margin-top: initial;
      width: 33%;

      &:not(:first-child) {
        margin-left: 2rem;
      }
    }
  }
}

.full-content {
  display: flex;
  margin: 0;
  padding: 0;
}

.editor {
  max-height: 100vh;
  overflow: hidden;
}

.content--quarter {
  overflow: hidden;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  @media screen and (min-width: $breakpoint-large) {
    box-sizing: border-box;
    width: 25%;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.content--half {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  @media screen and (min-width: $breakpoint-large) {
    box-sizing: border-box;
    width: 50%;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.content--third {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  @media screen and (min-width: $breakpoint-large) {
    box-sizing: border-box;
    width: 33%;

    &:not(:last-child) {
      padding-right: 1rem;
    }
  }
}

.content--two-third {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  @media screen and (min-width: $breakpoint-large) {
    box-sizing: border-box;
    width: 66%;

    &:not(:last-child) {
      padding-left: 1rem;
    }
  }
}

.main-flex-column {
  display: flex;
  flex-direction: column;

  .content {
    flex-grow: 1;
  }
}

.admin-menu {
  padding: 0;
}
