@import 'editor';

body,
ul {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  margin: 2rem 3rem;
}

.content {
  display: block;
  width: 100%;

  .content--part {
    box-sizing: border-box;
    margin-top: 3rem;
    width: 100%;
  }

  @media screen and (min-width: $breakpoint-large) {
    display: flex;

    .content--part {
      margin-top: initial;
      width: 33%;

      &:not(:first-child) {
        margin-left: 2rem;
      }
    }
  }
}

.full-content {
  display: flex;
  margin: 0;
  padding: 0;
}

.editor {
  max-height: 100vh;
  overflow: hidden;
}
