.breadcrumb--list {
  margin: 0;
  padding-left: 0;
}

.breadcrumb--list-item {
  color: $tertiary-color-1;
  display: inline-block;
  font-size: .9rem;

  &:not(:first-child) {
    &::before {
      content: url('../../images/angle-right-main.svg');
      display: inline-block;
      margin-right: .2rem;
      vertical-align: middle;
      width: .5rem;
    }
  }

  &:last-child {
    font-weight: 700;
  }

  a {
    color: $tertiary-color-1;
    text-decoration: none;

    &:hover {
      font-style: italic;
    }
  }
}
