button {
  background: $organizer-color;
  border: 0;
  box-sizing: border-box;
  color: $white;
  //display: block;
  font-size: .9rem;
  font-weight: 700;
  padding: .5rem;

  &:hover {
    opacity: .8;
  }

  &[disabled] {
    &:hover {
      opacity: 1;
    }
  }
}

.btn {
  border: 0;
  box-sizing: border-box;
  color: $white;
  font-size: .9rem;
  font-weight: 700;
  margin-top: 1rem;
  padding: .5rem;
  text-align: center;
  text-decoration: none;

  &:hover {
    opacity: .8;
  }
}

.btn--full-width {
  display: block;
  width: 100%;
}

.btn--danger {
  background: $secondary-color-2 !important; // sass-lint:disable-line no-important

  &[disabled] {
    background: $secondary-color-12 !important; // sass-lint:disable-line no-important
  }
}

.btn--action {
  background: $tertiary-color-1 !important; // sass-lint:disable-line no-important
}

.btn--cancel {
  background: $white !important; // sass-lint:disable-line no-important
  border: 1px solid $secondary-color-2;
  color: $secondary-color-2;
}

.btn--fab-content {
  display: flex;
  justify-content: center;
  position: relative;
  vertical-align: middle;

  span {
    color: $white;
    display: block;
    font-family: 'Fontastique', Sans-Serif;
  }

  @media screen and (min-width: $breakpoint-large) {
    display: block;
  }
}

.btn--fab {
  background-color: $tertiary-color-1;
  border-radius: 3rem ;
  bottom: 0;
  box-sizing: border-box;
  display: block;
  font-size: 5rem;
  height: 5rem;
  line-height: 5rem;
  margin: 1.5rem auto;
  overflow: hidden;
  position: fixed;
  right: 1.5rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 5rem;
  z-index: 1000;

  &:hover {
    opacity: .8;
  }

  @media screen and (min-width: $breakpoint-large) {
    margin: 2.5rem;
    right: 0;
  }
}

.btn-ico {
  background: none;
  color: $tertiary-color-1;
  cursor: pointer;
}

