.content--error {
  @media screen and (min-width: $breakpoint-large) {
    align-items: center;
    display: flex;
  }
}

.content--error-image {
  margin: 2rem auto;
  width: 40%;

  @media screen and (min-width: $breakpoint-large) {
    width: 25%;
  }
}

.content--error-text {
  margin-bottom: 2rem;
  padding: 0 2rem 2rem;
  text-align: center;

  @media screen and (min-width: $breakpoint-large) {
    flex-grow: 1;
    padding-top: 2rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  p {
    color: $main-color;
    font-family: 'Fontastique', 'SansSerif';
    font-size: 2rem;
  }
}
