footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: .9rem;
  justify-content: space-around;
  padding: 1rem 3rem;

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      font-weight: 700;
      opacity: .7;
    }
  }

  li {
    display: inline-block;
    list-style-type: none;
    margin-right: 2rem;
  }

  .logo--enssat {
    position: absolute;
    right: 5rem;
  }
}
