.main-form {
  display: block;
  width: 100%;

  @media screen and (min-width: $breakpoint-large) {
    margin: auto;
    width: 33%;
  }
}

form {
  button,
  input {
    box-sizing: border-box;
    width: 100%;
  }

  button {
    margin-top: 1.5rem;
  }

  .form--input-date,
  .form--input-email,
  .form--input-password,
  .form--input-number,
  .form--input-tel,
  .form--input-text {
    border-bottom: 1px solid $tertiary-color-3;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-size: 1rem;
    margin-top: .7rem;
    position: relative;

    &:focus {
      outline: none;
    }
  }

  label {
    bottom: -1.9rem;
    color: $tertiary-color-1;
    position: relative;
    z-index: 1;
  }

  .form--fixed-label {
    bottom: 0;
    display: inline-block;
    margin-top: 1.9rem;
  }
}

.form--input-focused {
  margin-top: .7rem;

  label {
    bottom: -.2rem;
    color: $organizer-color;
    font-size: .8rem;
    font-weight: bold;
  }

  input {
    border-bottom-color: $organizer-color;
  }
}
