header {
  align-items: center;
  background: $theme-color;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;
  padding: .5rem 3rem;
}

body {
  > header {
    height: 3rem;

    @media screen and (max-width: $breakpoint-medium) {
      flex-direction: column;
      height: auto;
    }

  }
}

.logo {
  text-decoration: none;

  img {
    width: 6rem;
  }

  &:hover {
    opacity: .7;
  }
}

.header--nav {
  display: inline-block;

  @media screen and (max-width: $breakpoint-medium) {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }

  ul {
    @media screen and (max-width: $breakpoint-medium) {
      padding: 0;
    }
  }
}

.header--nav-item {
  display: inline-block;
  list-style-type: none;
  margin: auto .3rem;

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      opacity: .7;
    }
  }

  i {
    font-size: 1.5rem;
  }
}

.header--profile-ico {
  display: none;
  font-size: 1rem;
  font-weight: 700;
  margin-right: .5rem;
  vertical-align: baseline;

  @media screen and (min-width: $breakpoint-mediumlarge) {
    display: inline-block;
  }
}

.header--raidy {
  align-items: center;
  display: flex;

  @media screen and (max-width: $breakpoint-medium) {
    flex-direction: column;
  }

    .roles--menu {
    align-items: center;

    @media screen and (min-width: $breakpoint-medium) {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
    }

    span {
      display: none;

      @media screen and (min-width: $breakpoint-medium) {
        color: $white;
        display: inline;
        padding-left: 1rem;

        @media screen and (max-width: $breakpoint-medium) {
          padding: 0;
        }

        }
    }

    .roles--menu--item {
      color: $white;
      display: block;
      margin: .5rem 0;
      padding-left: 1rem;
      text-decoration: none;

      @media screen and (max-width: $breakpoint-medium) {
        font-size: 1.3rem;
        padding: 0;
      }

      @media screen and (min-width: $breakpoint-medium) {
        display: inline;
      }

      &.item--active {
        font-weight: bold;
        opacity: .7;
      }

      &:hover {
        font-weight: bold;
        opacity: 1;
      }
    }
  }
}
