.helper {
  main {
    display: flex;
    flex-direction: column;

    .content {
      flex-grow: 1;

      .content--quarter { // sass-lint:disable-line nesting-depth
        display: flex;
        flex-direction: column;
      }
    }
  }
}


.helper-check {
  border: 1px solid $text-color;
  border-radius: 50%;
  display: inline-block;
  height: 1rem;
  width: 1rem;

  &--in {
    background: $main-color;
  }

  &--not {
    background: $secondary-color-2;
  }

  &--no-assign {
    background: $grey-light;
  }
}
