.login {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

  main {
    background: $white09;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
    overflow: hidden;
    padding: 5rem;
    width: 100vw;

    @media screen and (min-width: $breakpoint-mediumlarge) {
      border-radius: 50%;
      max-height: 70vh;
      min-height: initial;
      width: 70vh;
    }
  }

  .login-information {
    font-size: .8rem;
    font-style: italic;
    font-weight: 700;

    p {
      margin: 0;
    }
  }

  .logo {
    display: inline-block;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
  }

  input {
    background: none;

    &.btn {
      background: $tertiary-color-1;
    }
  }

  .form--input-focused {
    margin-top: .7rem;

    label {
      bottom: -.2rem;
      color: $tertiary-color-1;
      font-size: .8rem;
      font-weight: bold;
    }

    input {
      border-bottom-color: $tertiary-color-1;
    }
  }

  .form--item-checkbox {
    margin-top: 1rem;

    input {
      width: auto;
    }

    label {
      bottom: 0;
      font-size: .9rem;
    }
  }

  .form--item-submit {
    margin-top: 0;
  }

  .centered--content {
    text-align: center;

    &.helper--join {
      h1 {
        font-size: 1.5rem;
        margin-bottom: 0;
      }
    }

    h1 {
      font-size: 1rem;
      margin-top: 0;
    }

    .form--item {
      text-align: left;
    }

    .important {
      font-size: 1.5rem;
    }

    p {
      color: $secondary-color-1;
      font-family: 'Fontastique', 'SansSerif';
      font-size: 1rem;
    }

    .btn {
      background: $tertiary-color-2;
    }

    .downloads--links {
      a {
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
        width: 8rem;

        img {
          max-width: 100%;
        }
      }
    }
  }

  .actions {
    .btn {
      display: block;

      @media screen and (min-width: $breakpoint-mediumlarge) {
        display: inline-block;
      }
    }
  }
}
