td,
th {
  padding: .5rem;
}

td {
  vertical-align: middle !important; // sass-lint:disable-line no-important
}

thead {
  th {
    padding: 0;
  }

  .btn-sort {
    background: $white !important; // sass-lint:disable-line no-important
    border: 0;
    color: $tertiary-color-1;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    margin: 0 !important; // sass-lint:disable-line no-important
    text-transform: uppercase;
    width: 100% !important; // sass-lint:disable-line no-important

    &:focus {
      outline: none;
    }

    &.asc,
    &.desc {
      .fas {
        opacity: 1;
      }
    }

    .fas {
      margin-right: .5rem;
      opacity: .7;
    }
  }
}

.table--container {
  border: 1px solid $grey-light;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0;
  width: 100%;
}

.table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;

  a,
  button:not(.btn-sort) { // sass-lint:disable-line force-pseudo-nesting
    display: block;
    margin-top: .5rem;
    width: 100%;

    &:first-child {
      margin-top: 0;
    }

    @media screen and (min-width: $breakpoint-large) {
      display: inline-block;
      margin-bottom: .5rem;
      width: auto;
    }
  }
}

.table--headers {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15); // sass-lint:disable-line no-color-literals
  color: $tertiary-color-1;
  text-transform: uppercase;
}

.table--line {
  &:not(:last-child) {
    border-bottom: 1px solid $grey-light;
  }

  &:nth-child(2n+1) {
    background: $grey-light;
  }
}

.table-search {

  .search {
    border: 1px solid $tertiary-color-1;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    padding-left: .3rem;
    width: calc(100% - 3rem);

    @media screen and (min-width: $breakpoint-medium) {
      width: 50%;
    }
  }

  .fa-search {
    color: $tertiary-color-1;
    width: 2rem;
  }
}
