.modal-tutorial {
  @media screen and (min-width: $breakpoint-large) {
    margin: 10vh auto !important; // sass-lint:disable-line no-important
    max-height: 80vh;
    max-width: 75% !important; // sass-lint:disable-line no-important
    min-height: 80vh;
  }
}

.modal--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.btn--actions-tutorial {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;

  .btn {
    flex-grow: 1;
  }

  button {
    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}
