.modal-tutorial {
  @media screen and (min-width: $breakpoint-large) {
    max-width: 75% !important;
    min-height: 80vh;
    max-height: 80vh;
    margin: 10vh auto !important;
  }
}

.modal--content {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn--actions-tutorial {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;

  .btn {
    flex-grow: 1;
  }

  button {
    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}