.modal-tutorial {
  @media screen and (min-width: $breakpoint-large) {
    margin: 10vh auto !important; // sass-lint:disable-line no-important
    max-height: 80vh;
    max-width: 75% !important; // sass-lint:disable-line no-important
    min-height: 80vh;
  }

  .modal--content {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
    overflow-y: scroll;

    @media screen and (min-width: $breakpoint-large) {
      height: 70vh;
    }
  }

  .modal--header {
    height: 10vh;
  }

  .capture-container {
    text-align: center;
    width: 100%;
  }

  .capture {
    border: 1px solid $main-color;
    margin: auto;
    max-width: 50%;
  }

  .main-list {
    list-style-type: none;
  }
}

.btn--actions-tutorial {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;

  .btn {
    flex-grow: 1;
  }

  button {
    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}
