{% extends 'default/helper.html.twig' %}

{% block body %}

    <h1>Raidy - Helper</h1>
    <ul>
        {% for raid in raids %}
            <li>{{ raid.name }}</li>
        {% endfor %}
    </ul>

    <a href="{{ path('editHelperProfile') }}">Editer le profil</a>

{% endblock %}
