{% extends 'default/organizer.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <button data-poitype-id="{{ poiType.id }}" class="btn btn--danger btn--delete-poitype">
        Supprimer
    </button> {#data-micromodal-trigger="delete-poitype" #}

    <!-- [1] -->
    <div id="delete-poitype" aria-hidden="true" class="modal modal--danger" data-micromodal-close>
        <!-- [2] -->
        <div tabindex="-1" data-micromodal-close>
            <!-- [3] -->
            <div role="dialog" aria-modal="true" aria-labelledby="delete-poitype-title" >
                <div class="modal-container">
                    <header class="modal--header modal--header--danger">
                        <h2 id="delete-poitype-title">
                            Supprimer un type de point d'intérêt
                        </h2>
                        <!-- [4] -->
                        <button aria-label="Fermer la fenêtre" data-micromodal-close class="btn--danger"><i data-micromodal-close class="fas fa-times"></i></button>
                    </header>
                    <div id="delete-poitype-content" class="modal--content">
                        <p>Êtes-vous certains de vouloir supprimer ce type de point d'intérêt ?</p>
                        <p class="text--important">Cette action est irréversible.</p>
                        <div class="modal--actions">
                            <a href="" id="btn--delete-poitype" class="btn btn--danger" data-base-url="organizer/poitype/delete/">Supprimer</a>
                            <button data-micromodal-close class="btn btn--cancel">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
