// COLORS.
$main-color: #78e08f;
$secondary-color-1: #77aeaf;
$secondary-color-2: #f74a45;
$tertiary-color-1: #0f5e54;
$tertiary-color-2: #a88f73;
$tertiary-color-3: #d9d9d9;
$text-color: #333;
$grey-light: #f4f4f4;
$white: #fff;

// APPS COLORS.
$organizer-color: $main-color;
$helper-color: $secondary-color-1;
$live-color: $secondary-color-2;

// FONTS.
@font-face {
  font-family: 'Fontastique';
  src: url('../../fonts/fontastique.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../fonts/proxima-nova.ttf') format('truetype');
}

// BREAKPOINTS.
$breakpoint-large: 980px;

