{% extends 'default/external.html.twig' %}

{% block body %}
    Félicitations vous êtes inscrit en tant que bénévole pour le raid {{ raid.name }}

    <a href="{{ path("helper") }}">Accéder à mon compte</a>
{% endblock %}



