{% extends 'default/helper.html.twig' %}

{% block body %}
    <div class="main-form">
        <h1>Se créer un compte</h1>
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}



